@import "../../styles/_variables";
@import "../../styles/_breakpoint";

.PageContainer {
  @include xl {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
