// Color
$white: #ffffff;
$black: #000000;
$grey: #bfbfbf;
$primary-color: #6aa3a1;
$secondary-color: #24c4c4;
$tertiary-color: #01d2cc;
$rimboBlue: #032040;
$danger: #ff5b5b;
$gradient: linear-gradient(
  90deg,
  hsl(178, 100%, 32%) 0%,
  hsl(178, 99%, 41%) 100%
);
